---
Language: Cpp
BasedOnStyle: LLVM

ColumnLimit: 120
IndentWidth: 2
ContinuationIndentWidth: 4
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

BinPackArguments: true
BinPackParameters: true
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
...
